version: 1.0.{build}.0
os: Unstable
environment:
  rtkUserName:
    secure: fNrV+FdqnGE/HKs/4C4rPh7VmjsvPNbks4Enmrma/SM=
  rtkPassword:
    secure: wSvwmRlrlui6EZprPKIPfw==

install:
  - cmd : PowerShell -ExecutionPolicy unrestricted -file qm-setup.ps1
  - cmd : C:\Windows\SysWOW64\WindowsPowerShell\v1.0\powershell.exe -ExecutionPolicy unrestricted -file rtk-init.ps1
  - cmd : C:\Windows\SysWOW64\WindowsPowerShell\v1.0\powershell.exe -ExecutionPolicy unrestricted -file rtk-init.ps1

build_script:
  - msbuild qm-test\qm-test.csproj /p:Configuration=Release /p:Platform=AnyCPU /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
after_test:
  -cmd : "C:\Program Files (x86)\Quamotion\bin\Quamotion.CommandLine.exe" -m Harvest